.progress {
    border: $progress-bar-border;
    border-radius: $default-border-radius;
    height: 25px;
    margin-bottom: 20px;
    padding: 5px;
    background: linear-gradient(to right, orangered var(--timePassed), transparent var(--timePassed));

    &--remaining {
        --helper: calc(100% - var(--timePassed));
        background: linear-gradient(to left, orangered var(--helper), transparent var(--helper), transparent var(--timePassed),#fff var(--timePassed));
    }

    &--color-green {
        background: linear-gradient(to right, green var(--timePassed), transparent var(--timePassed));
    }
}


